pipeline/1_land_moodle.json
{
    "name": "1_land_moodle",
    "properties": {
        "activities": [
            {
                "name": "Set defaultFilename",
                "description": "Sets defaultFilename variable depending on whether K-12 or Higher Ed. test data is to be landed. (Only HEd for this module.)",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "defaultFilename",
                    "value": {
                        "value": "@{pipeline().parameters.land_k12_or_hed_test_data}_test_data.csv",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "land_assign",
                "description": "Land Moodle either K-12 or Higher Ed. Assign Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/assign/assign_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/assign",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_assign_grades",
                "description": "Land Moodle either K-12 or Higher Ed.  assign_grades Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/assign_grades/assigngrades_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/assign_grades",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_assign_submission",
                "description": "Land Moodle either K-12 or Higher Ed.  assign_submission Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/assign_submission/assignsubmission_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/assign_submission",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_assignsubmission_file",
                "description": "Land Moodle either K-12 or Higher Ed. assignsubmission_file Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/assignsubmission_file/assignsubmissionfile_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/assignsubmission_file",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_assign_user_mapping",
                "description": "Land Moodle either K-12 or Higher Ed. assign_user_mapping Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/assign_user_mapping/assignusermapping_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/assign_user_mapping",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_context",
                "description": "Land Moodle either K-12 or Higher Ed. context Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/context/context_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/context",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_course",
                "description": "Land Moodle either K-12 or Higher Ed. course Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/course/course_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/course",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_course_categories",
                "description": "Land Moodle either K-12 or Higher Ed. course_categories Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/course_categories/coursecategories_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/course_categories",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_enrol",
                "description": "Land Moodle either K-12 or Higher Ed. enrol Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/enrol/enrol_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/enrol",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_forum",
                "description": "Land Moodle either K-12 or Higher Ed. forum Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/forum/forum_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/forum",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_forum_discussions",
                "description": "Land Moodle either K-12 or Higher Ed. forum_discussions Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/forum_discussions/forumdiscussions_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/forum_discussions",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_forum_grades",
                "description": "Land Moodle either K-12 or Higher Ed. forum_grades Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/forum_grades/forumgrades_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/forum_grades",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_lesson",
                "description": "Land Moodle either K-12 or Higher Ed. lesson Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/lesson/lesson_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/lesson",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_lesson_answers",
                "description": "Land Moodle either K-12 or Higher Ed. lesson_answers Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/lesson_answers/lessonanswers_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/lesson_answers",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_lesson_attempts",
                "description": "Land Moodle either K-12 or Higher Ed. lesson_attempts Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/lesson_attempts/lessonattempts_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/lesson_attempts",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_lesson_grades",
                "description": "Land Moodle either K-12 or Higher Ed. lesson_grades Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/lesson_grades/lessongrades_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/lesson_grades",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_messages",
                "description": "Land Moodle either K-12 or Higher Ed. messages Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/messages/messages_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/messages",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_message_conversations",
                "description": "Land Moodle either K-12 or Higher Ed. message_conversations Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/message_conversations/messageconversations_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/message_conversations",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_message_conversation_members",
                "description": "Land Moodle either K-12 or Higher Ed. message_conversation_members Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/message_conversation_members/messageconversationmembers_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/message_conversation_members",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_quiz",
                "description": "Land Moodle either K-12 or Higher Ed. quiz Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/quiz/quiz_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/quiz",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_quiz_attempts",
                "description": "Land Moodle either K-12 or Higher Ed. quiz_attempts Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/quiz_attempts/quizattempts_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/quiz_attempts",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_quiz_grades",
                "description": "Land Moodle either K-12 or Higher Ed. quiz_grades Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/quiz_grades/quizgrades_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/quiz_grades",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_role",
                "description": "Land Moodle either K-12 or Higher Ed. role Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/role/role_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/role",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_role_assignments",
                "description": "Land Moodle either K-12 or Higher Ed. role_assignments Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/role_assignments/roleassignments_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/role_assignments",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_user",
                "description": "Land Moodle either K-12 or Higher Ed. user Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/user/user_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/user",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            },
            {
                "name": "land_user_enrolments",
                "description": "Land Moodle either K-12 or Higher Ed. user_enrolments Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/module_catalog/Moodle/test_data/',pipeline().parameters.land_k12_or_hed_test_data,'_test_data/user_enrolments/userenrolments_test_data.csv')",
                            "type": "Expression"
                        },
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "sinkPath": "moodle/v0.1/user_enrolments",
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "delta"
                    }
                }
            }
        ],
        "parameters": {
            "workspace": {
                "type": "string",
                "defaultValue": "dev"
            },
            "land_k12_or_hed_test_data": {
                "type": "string",
                "defaultValue": "hed"
            }
        },
        "variables": {
            "defaultFilename": {
                "type": "String",
                "defaultValue": "test_data.csv"
            }
        },
        "folder": {
            "name": "1_Modules/Moodle Module/v0.1rc1"
        },
        "annotations": [],
        "lastPublishTime": "2023-03-28T20:18:06Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}